# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Custom
*.tmp
.DS_Store
CMakeSettings.json
.vs/
.idea/
.vscode/
out/
bin/
binaries/
.vscode/settings.json
data/Daiwu_sample
.gitignore
docs/《视觉几何三维重建-OpenMVS源码解析》课程手册9.28.pdf
