# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Custom
*.tmp
.DS_Store
CMakeSettings.json
.vs/
.idea/
.vscode/
out/
bin/
binaries/
.vscode/settings.json
data/*
docs/《视觉几何三维重建-OpenMVS源码解析》课程手册9.28.pdf
.vscode/settings.json
scripts/DepthCamera_2023-08-14-14-38-32.json
scripts/DepthCapture_2023-08-14-14-38-32.png
scripts/eval_visible_point.ipynb
scripts/__pycache__/pose_interp.cpython-310.pyc
.gitignore
scripts/__pycache__/pose_interp.cpython-38.pyc
build/CMakeCache.txt
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/3.22.1/CMakeCCompiler.cmake
build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.22.1/CMakeSystem.cmake
build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/FindOpenMP/ompver_C.bin
build/CMakeFiles/FindOpenMP/ompver_CXX.bin
build/CMakeFiles/FindOpenMP/OpenMPCheckVersion.c
build/CMakeFiles/FindOpenMP/OpenMPCheckVersion.cpp
build/CMakeFiles/FindOpenMP/OpenMPTryFlag.c
build/CMakeFiles/FindOpenMP/OpenMPTryFlag.cpp
scripts/__pycache__/pose_interp.cpython-312.pyc
